* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e1e8e6;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3cc4d0;
    border-radius: 8px;
    box-shadow: 4px 8px 13px -5px #000000;
    width: 50%;
    height: 250px;
}

h1 {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    margin-bottom: 24px;
}

.scoreboard {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.scoreboard > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    width: 100px;
    padding: 10px;
}

.scoreboard span:first-of-type {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

img {
    width: 50px;
    padding: 5px;
}

img:hover {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 8px;
}

.message{
    text-align: center;
}

.choices {
    display: flex;
    justify-content: center;
    gap: 20px;
}